.head{
    padding:10px;
    margin:20px;
}
.head h1{
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top:10px;
    color:green;
    padding:10px;
    text-transform: uppercase;
}
.head h3{
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin:10px;
    color:green;
    text-transform: uppercase;
}
.join {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #f4f4f4;
    padding: 20px;
  }

  .form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: skyblue;
  }
  
  textarea {
    resize: none;
  }
  
  .form button {
    background: greenyellow;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .form button:hover {
    background: skyblue;
  }
  