.navbar{
    background-color: rgb(123, 119, 119);
}

.logo-container {
    display: flex; 
    align-items: center; 
    gap: 5px; 
}

.logo-container img {
    width: 40px;
    height: 30px;
}

.fellowship-title {
    font-size: 24px;
    font-weight: bold;
}

.left-side{
    margin-left: 45px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: flex;
}
span{
    color:rgb(118, 220, 118);
}
.right-side{
    font-size:17px;
    text-decoration:none;
    padding:2.5px;
    align-items: right;
    justify-content: flex-end;
    align-items: center;
    display:flex;
    text-transform: capitalize;
margin-right:13px;
}
.right-side a{
text-decoration:none;
color:black;
padding: 10px;
box-sizing: border-box;
}
.right-side a:hover{
    color:greenyellow;
}
.right-side a:active{
    color:rgb(73, 84, 56);
}